<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SvcUtilWrapper.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <SvcUtilWrapper.Properties.AppSettings>
      <setting name="SvcUtilsPath" serializeAs="String">
        <value>C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.7.2 Tools\SvcUtil.exe</value>
      </setting>
      <setting name="OutputFilePath" serializeAs="String">
        <value>../../src/Zwapgrid.Core/Integrations/NetSuite/Client/Generated.cs</value>
      </setting>
      <setting name="Namespace" serializeAs="String">
        <value>Zwapgrid.Integrations.NetSuite.Client.SuiteTalk</value>
      </setting>
      <setting name="ConfigFileName" serializeAs="String">
        <value>NetSuite.config</value>
      </setting>
      <setting name="WsdlPath" serializeAs="String">
        <value>https://webservices.netsuite.com/wsdl/v2019_1_0/netsuite.wsdl</value>
      </setting>
    </SvcUtilWrapper.Properties.AppSettings>
  </applicationSettings>
</configuration>